body {
    background-color: rgb(71, 71, 71);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.banner-and-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: blue;
}

.banner-and-nav h1 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 238, 0);
    font-weight: 100;
}

.banner-and-nav a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

.Game1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Game1 a {
    color: white;
    background-image: linear-gradient(blue, black);
    text-decoration: none;
    margin-bottom: 5px;
}

canvas{
    background-color: olivedrab;
}

.Canvas{
    display: flex;
    margin-top: 10px;
}

.info{
    margin-left: 70px;
}

.popup{
    background-color: red;
    position: fixed;
    align-items: center;
    justify-content: center;
}

dialog{
    margin-top: 10px;
}